In [1]:
my_str1 = 'Olá sou "dollynho" seu amiguinho'
my_str2 = 'Hello boys'

In [2]:
print(my_str1)
print('\n')
print(my_str2)

Olá sou "dollynho" seu amiguinho


Hello boys

In [3]:
my_str1[2]

'á'

In [4]:
my_str1[:3] # Analogo ao Substring

'Olá'

In [5]:
my_str1[3:]

' sou "dollynho" seu amiguinho'

In [6]:
my_str1[:]

'Olá sou "dollynho" seu amiguinho'

In [7]:
my_str1[-3] # Obtem os caracteres de trás para frente

'n'

In [8]:
my_str1[-3:]

'nho'

In [10]:
my_str1[::2] # Tráz os caracteres da string que estão presentes nas posições considerando intervalos de "2" como especificado.

'Oásu"olno e mgih'

In [11]:
my_str1[::-2]

'onuiaus"hyld o l'

In [12]:
# Utilizando operadores matemáticos 
my_str2 * 3

'Hello boysHello boysHello boys'

In [13]:
my_str2.upper()

'HELLO BOYS'

In [14]:
my_str2.lower()

'hello boys'

In [15]:
# O caracter padrão para separação de string é o espaço em branco
my_str2.split()

['Hello', 'boys']

In [17]:
my_str2.split('b')

['Hello ', 'oys']