# Lendo arquivos

In [ ]:
# Opening the file
file_one = open('arquivos/arquivo1.txt', 'r')

In [ ]:
# Reading and viewing the file
print(file_one.read())

In [ ]:
# Counting the number of characters
print(file_one.tell())

In [ ]:
# Positioning the buffer at the beginning of the file
print(file_one.seek(0,0))

In [ ]:
print(file_one.read())

In [ ]:
print(file_one.seek(0,0))

In [ ]:
print(file_one.read())

In [ ]:
file_one.seek(0,0)

In [ ]:
# Lendo os 10 primeiros caracteres a partir da posição atual do cursor
print(file_one.read(10))

# Gravando arquivos

In [ ]:
# Sobrescrevendo o conteúdo do arquivo
file_two = open('arquivos/arquivo1.txt', 'w') # rw - abre para leitura e escrita
file_two.write('Lucas Pereira de Lira....')
file_two.close()
# Lendo as informações do arquivo
file_two = open('arquivos/arquivo1.txt', 'r')
print(file_two.read())
# Adicionando conteúdo ao arquivo
file_two = open('arquivos/arquivo1.txt', 'a')
file_two.write('Acrescentando conteúdo ao arquivo')
file_two.close();
file_two = open('arquivos/arquivo1.txt', 'r')
print(file_two.read())
file_two.seek(0,0)
print(file_two.read())

# Abrindo um dataset em colunas

In [ ]:
file_three = open('arquivos/salarios.csv', 'r')
data = file_three.read() # Lendo os dados do arquivo
rows = data.split('\n') # Separando cada linha em uma lista
file_three.close()
print(rows)

In [ ]:
file_three = open('arquivos/salarios.csv', 'r')
data = file_three.read() # Lendo os dados do arquivo
rows = data.split('\n') # Separando cada linha em uma lista
full_data = []

file_three.close()

for row in rows:
    columns = row.split(',')
    full_data.append(columns)

print(full_data)

# Contando as linhas de um arquivo

In [ ]:
file_four = open('arquivos/salarios.csv', 'r')
data = file_four.read()
file_four.close()
rows = data.split('\n')
print('Number of lines: ', len(rows))

# Contando o número de colunas do arquivo

In [ ]:
# Não resolve se o número de colunas for variável, caso isso ocorra seria necessário percorrer todo o arquivo
file_five = open('arquivos/salarios.csv', 'r')
data = file_five.read()
file_five.close()
rows = data.split('\n')

number_of_columns = 0;

for row in rows:
    column = row.split(',')
    number_of_columns += len(column)
    break

print('Number of columns: ', number_of_columns)

# Gravando arquivo pelo Jupyter Notebook

In [11]:
new_file = open('arquivos/MyTeste.txt', 'a')
new_file.writelines('Line one....')
new_file.writelines('Line two....')
new_file.close()

new_file = open('arquivos/MyTeste.txt', 'r')
print(new_file.read())
new_file.close()

['Line one....Line two....']

In [14]:
new_file = open('arquivos/MyTeste.txt', 'r')
print(new_file.readlines())
new_file.close()

['Line one....Line two....\n', 'dadasdasda\n', 'dasdasdasdas\n', 'dasdasdsadas\n', 'dasdasas']

In [15]:
for row in open('arquivos/MyTeste.txt', 'r'):
    print(row)

Line one....Line two....

dadasdasda

dasdasdasdas

dasdasdsadas

dasdasas

In [18]:
import pandas as pd
file_name = 'arquivos/binary.csv'
df = pd.read_csv(file_name)
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [21]:
file_name_two = 'arquivos/salarios.csv'
df_two = pd.read_csv(file_name_two)
# Exibindo as primeiras linhas do arquivo (HEAD)
df_two.head(len(df_two))

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00
...,...,...,...,...
32177,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$86520.00
32178,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$83616.00
32179,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$86520.00
32180,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$110352.00
32181,NaN,NaN,NaN,NaN